{% extends 'base.html' %} {% block title %}Erzincan Altın Fiyatları{% endblock
title %} {% block content %}

<style>
  * {
    font-weight: bold;
  }

  th {
    border: 1px solid #1b4965 !important;
  }

  td{
    border: 1px solid #1b4965 !important;
  }

  .td-empty{
    border: none !important;
  }

  @media (min-width: 960px) {
    th {
      font-size: 1.2rem;
    }

    td {
      font-size: 1.1rem;
    }
  }
  .bg-primary {
    background-color: #a8dadc !important;
    color: #1b4965 !important;
    text-align: center;
  }

  .bg-danger {
    background-color: #e63946 !important;
    color: aliceblue !important;
    text-align: center;
  }

  .bg-blue {
    background-color: #1b4965 !important;
    color: aliceblue !important;
    text-align: center;
  }

  @media (min-width: 575px) {
    .table {
      margin: 1rem;
    }
  }
</style>

<div class="container">
  <h2 style="color: #f1faee; text-align: center">
    Erzincan Tavsiye Edilen Altın Fiyatları
  </h2>
  <div
    class="row"
    style="display: flex; justify-content: center; margin-bottom: 2rem"
  >
    <div
      style="
        border: none;
        color: #f1faee;
        text-align: center;
        background-color: #e63946;
      "
      class="col-sm-5"
    >
      <h2>Alış:<br /><span id="alis">{{context.alis}}</span></h2>
    </div>
    <div
      style="
        border: none;
        text-align: center;
        color: #1d3557;
        background-color: #a8dadc;
      "
      class="col-sm-5"
    >
      <h2>Satış:<br /><span id="satis">{{context.satis}}</span></h2>
    </div>
    <div
      class="col-sm-10"
      style="
        background-color: #f1faee;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        text-align: center;
      "
    >
      Son Güncelleme: <span id="last_reload">{{context.last_reload}}</span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">Bilezik</th>
              <th scope="col" class="bg-danger">Alış</th>
              <th scope="col" class="bg-primary">Satış</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">22 Ayar Bilezik</th>
              <td scope="row" class="bg-danger" id="_22_ayar_bilezik_alis">
                {{context._22_ayar_bilezik_alis}}
              </td>
              <td id="_22_ayar_bilezik" class="bg-primary">{{context._22_ayar_bilezik}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">Sertifikalı</th>
              <th scope="col" class="bg-danger">Alış</th>
              <th scope="col" class="bg-primary">Satış</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">22 Ayar 0.5gr</th>
              <td id="_22_05_alis" class="bg-danger">{{context._22_05_alis}}</td>
              <td id="_22_05" class="bg-primary">{{context._22_05}}</td>
            </tr>
            <tr>
              <th scope="row">22 Ayar 1gr</th>
              <td id="_22_1_alis" class="bg-danger">{{context._22_1_alis}}</td>
              <td id="_22_1" class="bg-primary">{{context._22_1}}</td>
            </tr>
            <tr>
              <th scope="row">24 Ayar 1gr</th>
              <td id="_24_1_alis" class="bg-danger">{{context._24_1_alis}}</td>
              <td id="_24_1" class="bg-primary">{{context._24_1}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">Sarrafiye</th>
              <th scope="col" class="bg-danger">Yeni Alış</th>
              <th scope="col" class="bg-primary">Yeni</th>
              <th scope="col" class="bg-danger">Eski Alış</th>
              <th scope="col" class="bg-primary">Eski</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Çeyrek</th>
              <td id="ceyrek_alis" class="bg-danger">{{context.ceyrek_alis}}</td>
              <td id="ceyrek_yeni" class="bg-primary">{{context.ceyrek_yeni}}</td>
              <td id="ceyrek_eski_alis" class="bg-danger">{{context.ceyrek_eski_alis}}</td>
              <td id="ceyrek_eski" class="bg-primary">{{context.ceyrek_eski}}</td>
            </tr>
            <tr>
              <th scope="row">Yarım</th>
              <td id="yarim_alis" class="bg-danger">{{context.yarim_alis}}</td>
              <td id="yarim_yeni" class="bg-primary">{{context.yarim_yeni}}</td>
              <td id="yarim_eski_alis" class="bg-danger">{{context.yarim_eski_alis}}</td>
              <td id="yarim_eski" class="bg-primary">{{context.yarim_eski}}</td>
            </tr>
            <tr>
              <th scope="row">Ziynet</th>
              <td id="ziynet_alis" class="bg-danger">{{context.ziynet_alis}}</td>
              <td id="ziynet_yeni" class="bg-primary">{{context.ziynet_yeni}}</td>
              <td id="ziynet_eski_alis" class="bg-danger">{{context.ziynet_eski_alis}}</td>
              <td id="ziynet_eski" class="bg-primary">{{context.ziynet_eski}}</td>
            </tr>
            <tr>
              <th scope="row">Ata</th>
              <td id="ata_alis" class="bg-danger">{{context.ata_alis}}</td>
              <td id="ata_satis" class="bg-primary">{{context.ata_satis}}</td>
              <td class="bg-blue td-empty"></td>
              <td class="bg-blue td-empty" ></td>
            </tr>
            <tr>
              <th scope="row">Beşli</th>
              <td id="besli_alis" class="bg-danger">{{context.besli_alis}}</td>
              <td id="besli_satis" class="bg-primary">{{context.besli_satis}}</td>
              <td class="bg-blue td-empty" ></td>
              <td class="bg-blue td-empty" ></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block scripts %}
<script>
  function reload_data_with_ajax() {
    $.get("/ajax/reload", function (data, status) {
      Object.keys(data).forEach(function (key) {
        document.getElementById(key).innerText = data[key];
      });
    });
  }

  function reload_page() {
    location.reload();
  }

  function try_reload() {
    try {
      reload_data_with_ajax();
    } catch (e) {
      reload_page();
    }
  }
  setInterval(try_reload, 20 * 1000);
</script>
{% endblock scripts %}
