{% extends "base.html" %} 
{% block content %}
<style>
  *{
    font-weight: bold;
    font-size: 1.4rem;
  }
  .bg-primary{
    background-color: #8ecae6 !important;
    color: #1b4965 !important;
    text-align: center;
  }

  .bg-danger{
    background-color: #e63946 !important;
    color: aliceblue !important;
    text-align: center;
  }

  .bg-blue{
    background-color: #4a4e69 !important;
    color: aliceblue !important;
    text-align: center;
  }
</style>


<h3 style="color: aliceblue; text-align: center;"> Erzincan Tavsiye Edilen Altın Fiyatları <span style="text-align: center; color: aliceblue !important;">{{context.last_reload}}</span> </h3>
<table class="table table-bordered table-striped table-light">
  <thead>
    <tr class="">
      <th scope="col" class="bg-blue">Tür</th>
      <th scope="col" class="bg-danger" >Alış</th>
      <th scope="col" class="bg-primary">Satış</th>
    </tr>
  </thead>
  <tbody>

    <tr>
    
      <td class="bg-blue">24 ayar 1 gr</td>
      <td class="bg-danger">{{context._24_1_alis}}</td>
      <td class="bg-primary">{{context._24_1}}</td>
    </tr>

    <tr>
    
      <td class="bg-blue">22 ayar 1 gr</td>
      <td class="bg-danger">{{context._22_1_alis}}</td>
      <td class="bg-primary">{{context._22_1}}</td>
    </tr>

    <tr>
    
      <td class="bg-blue">22 ayar 0.5 gr</td>
      <td class="bg-danger">{{context._22_05_alis}}</td>
      <td class="bg-primary">{{context._22_05}}</td>
    </tr>


    <tr>
    
      <td class="bg-blue">22 Ayar Bilezik</td>
      <td class="bg-danger">{{context._22_ayar_bilezik_alis}}</td>
      <td class="bg-primary">{{context._22_ayar_bilezik}}</td>
    </tr>
    <tr>
    
      <td class="bg-blue">Çeyrek Yeni</td>
      <td class="bg-danger">{{context.ceyrek_alis}}</td>
      <td class="bg-primary">{{context.ceyrek_yeni}}</td>
    </tr>

    <tr>
    
      <td class="bg-blue">Yarım Yeni</td>
      <td class="bg-danger">{{context.yarim_alis}}</td>
      <td class="bg-primary">{{context.yarim_yeni}}</td>
    </tr>

    <tr>
    
      <td class="bg-blue">Ziynet Yeni</td>
      <td class="bg-danger">{{context.ziynet_alis}}</td>
      <td class="bg-primary">{{context.ziynet_yeni}}</td>
    </tr>
    <tr>
    
      <td class="bg-blue">Ata</td>
      <td class="bg-danger">{{context.ata_alis}}</td>
      <td class="bg-primary">{{context.ata_satis}}</td>
    </tr>
    <tr>
    
      <td class="bg-blue">Beşli</td>
      <td class="bg-danger">{{context.besli_alis}}</td>
      <td class="bg-primary">{{context.besli_satis}}</td>
    </tr>
    <tr>
    
      <td class="bg-blue">Çeyrek Eski</td>
      <td class="bg-danger">{{context.ceyrek_eski_alis}}</td>
      <td class="bg-primary">{{context.ceyrek_eski}}</td>
    </tr>
    <tr>
    
      <td class="bg-blue">Yarım Eski</td>
      <td class="bg-danger">{{context.yarim_alis}}</td>
      <td class="bg-primary">{{context.yarim_eski}}</td>
    </tr>
    <tr>
    
      <td class="bg-blue">Ziynet Eski</td>
      <td class="bg-danger">{{context.ziynet_eski_alis}}</td>
      <td class="bg-primary">{{context.ziynet_eski}}</td>
    </tr>


    <tr>
      <td class="bg-blue">Has Altın</td>
      <td class="bg-danger">{{context.alis}}</td>
      <td class="bg-primary">{{context.satis}}</td>
    </tr>
  </tbody>
</table>

{% endblock content %}
{% block scripts %}
<script>
  function reload_data_with_ajax() {
    $.get("/ajax/reload", function (data, status) {
      Object.keys(data).forEach(function (key) {
        document.getElementById(key).innerText = data[key];
      });
    });
  }

  function reload_page(){
    location.reload();
  }
 
  function try_reload() {
    try{
      reload_data_with_ajax();
    }
    catch(e){
      reload_page();
    }
  }
  setInterval(try_reload, 20 * 1000);
</script>
{% endblock scripts %}

  
