{% extends 'base.html' %} {% block title %}Erzincan Altın Fiyatları{% endblock
title %} {% block content %}
<div class="container-fluid">
  <div class="row" style="display: flex; align-content: center; justify-content: center;">
    <button
      style="margin: 2rem"
      class="btn btn-primary"
      type="button"
      data-toggle="collapse"
      data-target="#bilezikler"
      aria-expanded="false"
      aria-controls="bilezikler"
    >
      Bilezikler
    </button>
    <button
      style="margin: 2rem"
      class="btn btn-primary"
      type="button"
      data-toggle="collapse"
      data-target="#sarrafiye"
      aria-expanded="false"
      aria-controls="sarrafiye"
    >
      Sarrafiye
    </button>
    <button
      style="margin: 2rem"
      class="btn btn-primary"
      type="button"
      data-toggle="collapse"
      data-target="#sertifikali"
      aria-expanded="false"
      aria-controls="sertifikali"
    >
      Sertifikalı
    </button>
    <button
      style="margin: 2rem"
      class="btn btn-primary"
      type="button"
      data-toggle="collapse"
      data-target="#iscilikli"
      aria-expanded="false"
      aria-controls="iscilikli"
    >
      İşçilikli
    </button>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="collapse multi-collapse" id="bilezikler">
        <table class="table table-light table-striped">
          <thead>
            <tr>
              <th scope="col">Bilezik</th>
              <th scope="col">Fiyat</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Cnc ve Burma Bilezik</th>
              <td>{{context.cnc_burma}}</td>
            </tr>
            <tr>
              <th scope="row">Şarnel 10gr Üzeri</th>
              <td>{{context.sarnel_10_uzeri}}</td>
            </tr>
            <tr>
              <th scope="row">Kaşlı Burma</th>
              <td>{{context.kasli_burma}}</td>
            </tr>
            <tr>
              <th scope="row">Örgü Bilezik</th>
              <td>{{context.orgu_bilezik}}</td>
            </tr>
            <tr>
              <th scope="row">Şarnel 8-10gr arası</th>
              <td>{{context.sarnel_8_10}}</td>
            </tr>
            <tr>
              <th scope="row">Şarnel 5-8gr arası</th>
              <td>{{context.sarnel_5_8}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="collapse multi-collapse" id="sarrafiye">
        <table class="table table-light table-striped">
          <thead>
            <tr>
              <th scope="col">Sarrafiye</th>
              <th scope="col">Yeni</th>
              <th scope="col">Eski</th>
              <th scope="col">Alış</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Çeyrek</th>
              <td>{{context.ceyrek_yeni}}</td>
              <td>{{context.ceyrek_eski}}</td>
              <td>{{context.ceyrek_alis}}</td>
            </tr>
            <tr>
              <th scope="row">Yarım</th>
              <td>{{context.yarim_yeni}}</td>
              <td>{{context.yarim_eski}}</td>
              <td>{{context.yarim_alis}}</td>
            </tr>
            <tr>
              <th scope="row">Ziynet</th>
              <td>{{context.ziynet_yeni}}</td>
              <td>{{context.ziynet_eski}}</td>
              <td>{{context.ziynet_alis}}</td>
            </tr>
            <tr>
              <th scope="row">Ata</th>
              <td>{{context.ata_satis}}</td>
              <td></td>
              <td>{{context.ata_alis}}</td>
            </tr>
            <tr>
              <th scope="row">Beşli</th>
              <td>{{context.besli}}</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="collapse multi-collapse" id="sertifikali">
        <table class="table table-light table-striped">
          <thead>
            <tr>
              <th scope="col">Sertifikalı</th>
              <th scope="col">Fiyat</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">22 Ayar 0.5gr</th>
              <td>{{context._22_05}}</td>
            </tr>
            <tr>
              <th scope="row">22 Ayar 1gr</th>
              <td>{{context._22_1}}</td>
            </tr>
            <tr>
              <th scope="row">24 Ayar 1gr</th>
              <td>{{context._24_1}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="collapse multi-collapse" id="iscilikli">
        <table class="table table-light table-striped">
          <thead>
            <tr>
              <th scope="col">İşçilikli</th>
              <th scope="col">Fiyat</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">14 Ayar</th>
              <td id="14_ayar_iscilikli">{{context._14_ayar}}</td>
            </tr>
            <tr>
              <th scope="row">22 Ayar</th>
              <td id="22_ayar_iscilikli">{{context._22_ayar}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
