{% extends "base.html" %} 
{% block content %}

<h2 style="color: aliceblue; text-align: center;">Erzincan Tavsiye Edilen Altın Fiyatları</h2>
<table class="table table-bordered table-striped table-dark">
  <thead>
    <tr class="">
      <th></th>
      <th scope="col">Tür</th>
      <th scope="col">Alış</th>
      <th scope="col">Satış</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-primary">
      <th scope="row"></th>
      <td>Haremaltın</td>
      <td>{{context.alis}}</td>
      <td>{{context.satis}}</td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"></th>
      <td>22 Ayar Bilezik</td>
      <td>{{context._22_ayar_bilezik_alis}}</td>
      <td>{{context._22_ayar_bilezik}}</td>
    </tr>
    <tr class="bg-primary">
      <th scope="row"></th>
      <td>Çeyrek Yeni</td>
      <td>{{context.ceyrek_alis}}</td>
      <td>{{context.ceyrek_yeni}}</td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"></th>
      <td>Çeyrek Eski</td>
      <td>{{context.ceyrek_eski_alis}}</td>
      <td>{{context.ceyrek_eski}}</td>
    </tr>
    <tr class="bg-primary">
      <th scope="row"></th>
      <td>Yarım Yeni</td>
      <td>{{context.yarim_alis}}</td>
      <td>{{context.yarim_yeni}}</td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"></th>
      <td>Yarım Eski</td>
      <td>{{context.yarim_alis}}</td>
      <td>{{context.yarim_eski}}</td>
    </tr>
    <tr class="bg-primary">
      <th scope="row"></th>
      <td>Ziynet Yeni</td>
      <td>{{context.ziynet_alis}}</td>
      <td>{{context.ziynet_yeni}}</td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"></th>
      <td>Ziynet Eski</td>
      <td>{{context.ziynet_eski_alis}}</td>
      <td>{{context.ziynet_eski}}</td>
    </tr>
    <tr class="bg-primary">
      <th scope="row"></th>
      <td>Ata</td>
      <td>{{context.ata_alis}}</td>
      <td>{{context.ata_satis}}</td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"></th>
      <td>Beşli</td>
      <td>{{context.besli_alis}}</td>
      <td>{{context.besli_satis}}</td>
    </tr>
    <tr class="bg-primary">
      <th scope="row"></th>
      <td>22 ayar 0.5 gr</td>
      <td>{{context._22_05_alis}}</td>
      <td>{{context._22_05}}</td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"></th>
      <td>22 ayar 1 gr</td>
      <td>{{context._22_1_alis}}</td>
      <td>{{context._22_1}}</td>
    </tr>
    <tr class="bg-primary">
      <th scope="row"></th>
      <td>24 ayar 1 gr</td>
      <td>{{context._24_1_alis}}</td>
      <td>{{context._24_1}}</td>
    </tr>
  </tbody>
</table>

{% endblock content %}
{% block scripts %}
<script>
  function reload_data_with_ajax() {
    $.get("/ajax/reload", function (data, status) {
      Object.keys(data).forEach(function (key) {
        document.getElementById(key).innerText = data[key];
      });
    });
  }

  function reload_page(){
    location.reload();
  }
 
  function try_reload() {
    try{
      reload_data_with_ajax();
    }
    catch(e){
      reload_page();
    }
  }
  setInterval(try_reload, 20 * 1000);
</script>
{% endblock scripts %}

  
